<section class="collection container">
    <div class="collection-container">
        <h2 class="collection-tittle">Our collection</h2>
        <ul class="collection-list">
            <li class="collection-item">
                <div class="collection-cover-container">
                    <picture>
                        <source srcset="../img/ourcollection/poltava.jpg, ../img/ourcollection/poltava2x.jpg "
                            media="(min-width: 1158px)">
                        <source
                            srcset="../img/ourcollection/poltava-tablet.jpg, ../img/ourcollection/poltava-tablet2x.jpg"
                            media="(min-width: 768px)">
                        <source srcset="../img/ourcollection/poltava-mob.jpg, ../img/ourcollection/poltava-mob2x.jpg"
                            media="(max-width: 767px)">
                        <img src="../img/ourcollection/poltava.jpg" alt="VishivankaPoltava">
                    </picture>
                </div>
                <div class="collection-description">
                    <h3 class="collection-name">AUGUST Poltava women's blouse<span class="text-point">...</span><span class="word-end">RING</span></h3>
                    <p class="collection-price">3300 UAH</p>
                </div>
                <div class="background-png">

                </div>

            </li>
            <li class="collection-item">
                <div class="collection-cover-container">
                    <picture>
                        <source srcset="../img/ourcollection/gorgany.jpg, ../img/ourcollection/gorgany2x.jpg"
                            media="(min-width: 1158px)">
                        <source
                            srcset="../img/ourcollection/gorgany-tablet.jpg, ../img/ourcollection/gorgany-tablet2x.jpg"
                            media="(min-width: 768px)">
                        <source srcset="../img/ourcollection/gorgany-mob.jpg, ../img/ourcollection/gorgany-mob2x.jpg"
                            media="(max-width: 767px)">
                        <img src="../img/ourcollection/gorgany.jpg" alt="VishivankaGorgany">
                    </picture>

                </div>
                <div class="collection-description">
                    <h3 class="collection-name">Women's blouse Gorgany</h3>
                    <p class="collection-price">3350 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="collection-cover-container">
                    <picture>
                        <source srcset="../img/ourcollection/crimea.jpg, ../img/ourcollection/crimea2x.jpg"
                            media="(min-width: 1158px)">
                        <source
                            srcset="../img/ourcollection/crimea-tablet.jpg, ../img/ourcollection/crimea-tablet2x.jpg"
                            media="(min-width: 768px)">
                        <source srcset="../img/ourcollection/crimea-mob.jpg, ../img/ourcollection/crimea-mob2x.jpg"
                            media="(max-width: 767px)">
                        <img src="../img/ourcollection/crimea.jpg" alt="VishivankaCrimea">
                    </picture>

                </div>
                <div class="collection-description">
                    <h3 class="collection-name">Women's blouse Crimea</h3>
                    <p class="collection-price">4000 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="collection-cover-container">
                    <picture>
                        <source srcset="../img/ourcollection/verkhovina.jpg, ../img/ourcollection/verkhovina2x.jpg"
                            media="(min-width: 1158px)">
                        <source
                            srcset="../img/ourcollection/verkhovina-tablet.jpg, ../img/ourcollection/verkhovina-tablet2x.jpg"
                            media="(min-width: 768px)">
                        <source
                            srcset="../img/ourcollection/verkhovina-mob.jpg, ../img/ourcollection/verkhovina-mob2x.jpg"
                            media="(max-width: 767px)">
                        <img src="../img/ourcollection/verkhovina.jpg" alt="VishivankaVerkhovina">
                    </picture>

                </div>
                <div class="collection-description">
                    <h3 class="collection-name">Men's shirt Verkhovina</h3>
                    <p class="collection-price">3100 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="collection-cover-container">
                    <picture>
                        <source srcset="../img/ourcollection/mountain.jpg, ../img/ourcollection/mountain2x.jpg"
                            media="(min-width: 1158px)">
                        <source
                            srcset="../img/ourcollection/mountain-tablet.jpg, ../img/ourcollection/mountain-tablet2x.jpg"
                            media="(min-width: 768px)">
                        <source srcset="../img/ourcollection/mountain-mob.jpg, ../img/ourcollection/mountain-mob2x.jpg"
                            media="(max-width: 767px)">
                        <img src="../img/ourcollection/mountain.jpg" alt="VishivankaMountain">
                    </picture>

                </div>
                <div class="collection-description">
                    <h3 class="collection-name">Mountain men's shirt</h3>
                    <p class="collection-price">3300 UAH</p>
                </div>
            </li>
            <li class="collection-item">
                <div class="collection-cover-container">
                    <picture>
                        <source srcset="../img/ourcollection/yasen.jpg, ../img/ourcollection/yasen2x.jpg"
                            media="(min-width: 1158px)">
                        <source srcset="../img/ourcollection/yasen-tablet.jpg, ../img/ourcollection/yasen-tablet2x.jpg"
                            media="(min-width: 768px)">
                        <source srcset="../img/ourcollection/yasen-mob.jpg, ../img/ourcollection/yasen-mob2x.jpg"
                            media="(max-width: 767px)">
                        <img src="../img/ourcollection/yasen.jpg" alt="VishivankaYasen">
                    </picture>

                </div>
                <div class="collection-description">
                    <h3 class="collection-name">Men's shirt Yasen</h3>
                    <p class="collection-price">1700 UAH</p>
                </div>
            </li>


        </ul>

    </div>


</section>