<footer class="footer">
    <div class="container footer-container">
        <ul class="footer-menu">
            <li class="footer-menu-list-item"><a href="#about-us" class="footer-menu-link">About us</a></li>
            <li class="footer-menu-list-item"><a href="#your-order" class="footer-menu-link">Custom order</a></li>
            <li class="footer-menu-list-item"><a href="#collection" class="footer-menu-link">Our collection </a></li>
            <li class="footer-menu-list-item"><a href="#testimonials" class="footer-menu-link">Testimonials</a></li>
        </ul>
    <p class="footer-text">A touch of <span class="text-accent">Ukrainian</span> culture in every embroidery</p>
    </div>
    <div class="footer-embroidery"></div>
    </footer>  