<header class="page-header">
  <div class="container">
    <a class="logo-header" href="../index.html"></a>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a
            class="socials-link"
            href="https://www.facebook.com/goITclub/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="icon" height="28" width="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            class="socials-link"
            href="https://www.instagram.com/goitclub/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="icon" height="28" width="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            class="socials-link"
            href="https://www.youtube.com/c/GoIT"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="icon" height="28" width="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="nav-list-item">
          <button type="button" class="burger-menu">
            <svg class="icon" height="24" width="36">
              <use href=""></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="mob-menu is-open">
    <address class="address">
      <a class="mob-menu-contacts-item" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </address>
    <button type="button" class="menu-close-btn">
      <svg class="close-icon" width="36" height="36">
        <use href=""></use>
      </svg>
    </button>
    <ul class="mob-menu-list">
      <li class="mob-menu-list-item">About Us</li>
      <li class="mob-menu-list-item">Our Collection</li>
      <li class="mob-menu-list-item">Customer Order</li>
      <li class="mob-menu-list-item">Testimonials</li>
    </ul>
  </div>
</header>
