<section class="container hero">
<div class="hero-class">
    <div class="hero-title-btn-class">
    <h1 class="hero-title">
        Reviving the traditional <span class="hero-title-span">Ukrainian</span> artistry in every stitch.
    </h1>
    <div class="hero-div-btn">
    <a class="hero-btn-order" href="#your-order">Order
        <svg class="hero-svg-arrow" width="26" height="10">
           <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
    </a>
    </div>
    </div>
    <div class="hero-img-class">
    <picture>
       <source
       srcset="./img/hero-girl-ds.png 1x, ./img/hero-girl-ds-2x.png 2x"
       media="(min-width: 1280px)"
       /> 
       <source
       srcset="./img/hero-girl-tab.png 1x, ./img/hero-girl-tab-2x.png 2x"
       media="(min-width: 768px)"
       /> 
       <source
       srcset="./img/hero-girl.png 1x, ./img/hero-girl-2x.png 2x"
       media="(max-width: 375px)"
       /> 
       <img class="hero-img" src="./img/hero-girl.png" 
       alt="Ukrainian girl" 
       width="335" 
       height="545">
    </picture>
    </div>
</div>
    <div class="hero-div-star">
        <svg class="hero-svg-star" width="52" height="51">
            <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p class="hero-star-text">all embroidery is made by hand</p>
    </div>
    <div class="hero-div-ukraine">
        <picture>
            <source
            srcset="./img/sorochka-ukr-ds.png 1x, ./img/sorochka-ukr-2x-ds.png 2x"
            media="(min-width: 1280px)"
            />
            <source
            srcset="./img/sorochka-ukr.png 1x, ./img/sorochka-ukr-2x-tab.png 2x"
            media="(min-width: 768px)"
            />
            <img class="hero-img-ukraine" 
            src="./img/sorochka-ukr.png" 
            alt="ukraine" 
            width="157" 
            height="191">
        </picture>
    </div>
</section>
