<section class="order">
  <div class="order-img"></div>
  <div class="container">
    <h2 class="order-title">
      <span>Your order</span> is our priority: Personalized approach and quality
      of service
    </h2>

    <form class="order-form">
      <input
        class="order-input"
        id="user-name"
        type="text"
        name="user-name"
        placeholder="Enter your full name"
        pattern="[A-z]{3,}"
        required
      />
      <input
        class="order-input"
        id="user-email"
        type="email"
        name="user-email"
        placeholder="Enter your email"
        pattern=".+@gmail.com"
        required
      />
      <textarea
        class="order-textarea"
        name="user-comment"
        id="user-comment"
        placeholder="Comments"
      ></textarea>
      <button class="order-btn" type="submit">send</button>
    </form>
  </div>
</section>
