
body {
    font-family: 'Manrope', sans-serif;
    background-color: #1C2225;
    color: yellow;
}

.container {
    width: 100%;
    max-width: 375px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}