body {
  min-width: 320px;
}

.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  position: relative;
  max-width: 375px;
  margin: 0 auto;
}

.footer-container {
  padding-bottom: 80px;
  padding-top: 40px;
}
.footer-menu-list-item {
  /* max-width: 124px; */
  width: calc((100% - 40px) /2);
}

.footer-menu-link {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  justify-content: space-between;
  max-width: 287px;
  margin-bottom: 40px;
}

.footer-text {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

.text-accent {
  color: #ecd979;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
  color: #ecd979;
}

.footer-embroidery {
  margin: 0 auto;
  max-width: 375px;
  background-image: url(../img/footer-vyshyvanka-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  height: 215px;
  width: 100%;
  bottom: 0;
  }
@media (main-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .footer-embroidery {
    background-image: url(../img/footer-embroidery-mob-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    display: flex;
    max-width: 768px;
  }

  .footer-container {
    padding: 40px 41px 40px 32px;
  }

  .footer-menu-list-item {
    width: unset;
  }

  .footer-menu-list-item:nth-child(2) {
    order: 2;
  }

  .footer-menu-list-item:nth-child(4) {
    order: 3;
  }

  .footer-embroidery {
    max-width: 768px;
    background-image: url(../img/footer-vyshyvanka-tab.png);
    height: 370px;
    width: 174px;
    position: relative;
    bottom: auto;
    top: 0;
    right: 0;
  }

  @media (main-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer-embroidery {
      background-image: url(../img/footer-embroidery-tab-2x.png);
    }
  }

  .footer-menu {
    max-width: 478px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0 25px;
    margin-bottom: 80px;
  }

  .footer-text {
    font-size: 54px;
    line-height: 1.19;
    max-width: 521px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px;
  }

  .footer-container {
    padding-left: 100px;
    padding-right: 0;
  }

  .footer-embroidery {
    background-image: url(../img/footer-vyshyvanka.png);
    height: 363px;
    min-width: 336px;
  }

  @media (main-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer-embroidery {
      background-image: url(../img/footer-embroidery-2x.png);
    }
  }

  .footer-menu {
    margin-bottom: 117px;
  }

  .footer-text {
    font-size: 64px;
    max-width: 754px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
  }

  .footer-embroidery {
    background-image: url(../img/footer-vyshyvanka-desk.png);
    height: 363px;
    min-width: 496px;
  }

  @media (main-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .footer-embroidery {
        background-image: url(../img/footer-vyshyvanka-desk2x.png);
    }
  }

}