
.hero{
    margin-bottom: 80px;
}

.hero-title{
    width: 335px;
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}
.hero-title-span{
    color: var(--white, #ECD979);
}
.hero-div-btn{
    margin-left: 70px;
    margin-bottom: 40px; 
}
.hero-btn-order{
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    display: inline-flex;
    height: 49px;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white, #FCF9F9);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.hero-btn-order:hover,
.hero-btn-order:focus{
    border: 1px solid var(--yellow, #ECD979);
}

.hero-div-star {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 115px;
}

.hero-star-text {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
}
.hero-div-ukraine {
    display: none;
    box-sizing: border-box;
}

/*====== media ======*/

@media screen and (min-width: 768px){
   .container{
      max-width: 768px;
      padding-right: 32px;
      padding-left: 32px;
   }
   .hero{
    position: relative;
    margin-bottom: 100px;
   }
   .hero-title{
      width: 549px;
      font-size: 54px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.03em;
      padding-top: 26px;
      margin-bottom: 40px;
   }

   .hero-div-btn {
       margin-left: 141px;
   }
   .hero-btn-order{
      display: flex;
      width: 168px;
      padding: 14px 39px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
    .hero-btn-order:hover {
        border: 1px solid var(--yellow, #ECD979);
    }
   .hero-btn-order:focus{
       border: 1px solid var(--yellow, #ECD979);
   }

   .hero-img{
      width: 413px;
   }
   .hero-div-star{
      position: absolute;
      top: 0;
      right: 32px;
      display: inline-flex;
   }
   .hero-div-ukraine{
      display: flex;
      box-sizing: border-box;
      position: absolute;
      right: 32px;
      bottom: 0;
   }
}
@media screen and (min-width: 1280px){
   .container {
        max-width: 1280px;
        padding-right: 100px;
        padding-left: 100px;
        }
    .hero {
        padding-top: 100px;
        margin-bottom: 150px;
    }
    .hero-class{
        display: flex;
        flex-direction: row;
    }
    .hero-img-class{
        order: -1;
        width: 392px;
    }
    .hero-div-btn {
       margin-left: 181px;
    }
    .hero-title{
        width: 518px;
        margin-top: 94px;
        margin-bottom: 40px;
        margin-left: 40px;
        padding: 0;
    }
    .hero-div-star{
        top: 114px;
        right: 100px;
    } 
    .hero-div-ukraine{
      right: 100px;
   }
}