.order {
  margin-bottom: 80px;
}

.order-img {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 375px;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../img/order-girl-mob.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order-img {
    background-image: url(../img/order-girl-mob2x.jpg);
  }
}

.order-title {
  margin-bottom: 40px;
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.order-title-color {
  color: #ecd979;
}

.order-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 14px 16px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color: #fcf9f9;
  background-color: transparent;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}
.order-input::placeholder {
  color: rgba(252, 249, 249, 0.5);
}

.order-textarea {
  padding: 14px 16px;
  margin-bottom: 40px;
  width: 100%;
  height: 196px;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  font-size: 14px;
  color: #fcf9f9;
  line-height: normal;
  letter-spacing: -0.02em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-textarea::placeholder {
  color: rgba(252, 249, 249, 0.5);
}

.order-textarea:focus {
  border-color: rgba(252, 249, 249, 0.6);
}

.order-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 36px;
  min-width: 145px;
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn-arrow {
  margin-left: 14px;
  fill: #ecd979;
}

.order-btn:active,
.order-btn:hover {
  border-color: #ecd979;
}

.order-picture-wrap {
  display: none;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .order-form {
    max-width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .order {
    margin: 0 auto;
    max-width: 768px;
    background-image: url(../img/order-vyshyvanka-tab-png.png);
    background-repeat: no-repeat;
    background-position: bottom 1px left 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: url(../img/order-vyshyvanka-tab-png2x.png);
      background-size: 323px 484px;
    }
  }

  .order.container {
    max-width: 768px;
    padding: 0 32px;
  }
  .order {
    margin-bottom: 100px;
    padding-bottom: 80px;
  }

  .order-img {
    max-width: 768px;
    height: 776px;
    margin-bottom: 100px;
    background-image: url(../img/order-girl-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order-img {
      background-image: url(../img/order-girl-tab2x.jpg);
    }
  }

  .order-form {
    max-width: 508px;
    margin-bottom: 100px;
  }

  .order-title {
    max-width: 542px;
    font-size: 44px;
  }

  .order-input {
    font-size: 16px;
  }

  .order-btn {
    margin: 0;
    min-width: 168px;
    height: 50px;
    padding: 14px 39px;
    font-size: 16px;
  }

  .order-picture-wrap {
    display: block;
  }

  .order-picture {
    display: flex;
    justify-content: end;
  }
}

@media screen and (min-width: 1280px) {

.container {}

  .order {
    max-width: 1280px;
    padding-bottom: 0;
    background-image: url(../img/order-vyshyvanka-png.png);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
    margin-bottom: 150px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: url(../img/order-vyshyvanka-png2x.png);
      background-size: 289px 484px;
    }
  }
  
    .order .container {
      max-width: 1280px;

    }

  .order-img {
    max-width: 1280px;
    margin-bottom: 150px;
    background-image: url(../img/order-girl.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order-img {
      background-image: url(../img/order-girl2x.jpg);
    }
  }

  .order-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 50px;
  }

  .order-content.container {
    padding-left: 64px;
    padding-right: 100px;
  }

  .order-form {
    margin-bottom: 0;
  }

  .order-picture-img {
    width: 524px;
    height: 521px;
  }
}
