.testimonials-section {
    padding: 80px 0;
}

@media screen and (min-width: 768px) {
    .testimonials-section {
        padding: 100px 0;
    }
}

@media screen and (min-width: 1280px) {
    .testimonials-section {
        padding: 150px 0;
    }
}

.container {
    width: 100%;
    max-width: 375px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px 0 100px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 100px 0 100px;
    }
}

.testimonials-title {
    color:#FCF9F9;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.03em;
    margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .testimonials-title {
    font-size: 44px;
    line-height: 1.45em;
  }
}

.testimonials-list {}

@media screen and (min-width: 768px) {
  .testimonials-list {
    display: flex;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-list {
    gap: 26px;
  }
}

.testimonials-list-item {
    flex-basis: 100%;
    position: relative;
    padding: 50px 20px 20px 20px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10); 
}

@media screen and (min-width: 768px) {
  .testimonials-list-item {
    padding: 50px 17px 18px 17px;
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1280px) {
    .testimonials-list-item {
        flex-basis: calc((100% - 26px * 2) / 3);
    }
}

.testimonials-list-item:not(:first-child) {
    display: none;
}

@media screen and (min-width: 768px) {
    .testimonials-list-item:nth-child(2) {
       display: block;
    }
}

@media screen and (min-width: 1280px) {
    .testimonials-list-item:nth-child(3) {
        display: block;
    }
}

.testimonials-img {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    
}

.testimonials-subtitle {
    margin-bottom: 8px;
    color:#FCF9F9;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
}

.testimonials-text {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    line-height: normal;
}

@media screen and (min-width: 768px) {
  .testimonials-text {
    font-size: 16px;
  }
}